// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #dfdfdf;
}

h1 {
  color: #110C2D;
  font-family: Varela;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.5em;
  text-align: center;
}

.container {
  width: 800px;
  margin: 0 auto;
}
